<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="identity" class="io.turntabl.springgettingstarted.HumanBean">
        <property name="FName" value="Isaac" />
        <property name="LName" value="Agyen" />
        <property name="BestFriend" ref="bf" />
    </bean>

    <bean id="bf" class="io.turntabl.springgettingstarted.HumanBean">
        <property name="FName" value="Koo" />
        <property name="LName" value="Nimo" />
    </bean>


</beans>